

<div id="map" style="width: <%= @map.size_x %>px; height: <%= @map.size_y %>px">
	<% @map.ore_nodes.each do |ore| %>
		<%= render("/ore_nodes/ore", :@ore => ore) %>
	<% end %>

	<%= image_tag "maps/#{@map.image}", id: "map" %>
</div>

<script type="text/javascript">
	active_map_id = <%= @map.id %>
	$("[rel=tooltip]").tooltip()
</script>
