
<h1>Ores Location for Guild Wars 2</h1>
<h2>Server: <%= @server %></h2>
<h3 class="reset-date">Reset date <%= ResetDate.last.created_at.strftime("%Y-%m-%d") %></h3>

<div class="maps_grid">

	<div class="minimap">
		<% @maps.each do |map| %>
			<%= link_to "map/#{map.id}", title: map.name.titleize, class: "fancybox", data: { "fancybox-type" => "ajax"} do %>
				<%= map.name.titleize %>
				<%= image_tag "maps/#{map.image_mini}", class: "minimap" %>
			<% end %>
		<% end %>
	</div>

</div>