<% content_for :server do @server.id.to_s end %>

<h2>Server: <b><%= @server.name %></b> </h2>
<label style="font-size:10px; margin-top: -18px">(<%= link_to "change server", :root  %>)</label>

<script type="text/javascript">
	var gServer = "<%= @server.id %>";
</script>

<p>How to:
	<ol>
		<li>Open the map and right-click to add an new Ore.</li>
		<li>Right-click on the Ore if you want to remove it.</li>
		<li>No third step. Yee!</li>
	</ol>

</p>
<p><b>Maps ores are reseted as soon it detects a new version of GW2.</b></p>

<hr>	

<div class="maps_grid">

	<div class="minimap">
		<% @maps.each do |map| %>
			<div class="span4 map">
				<%= link_to server_map_url(@server, map), title: "#{map.name.titleize} - Right-click to add a node/Right-click on the node to remove it.", class: "linkmap-#{map.id}", data: { "fancybox-type" => "ajax"} do %>
					<h4><%= map.name.titleize %> 
						<small class="muted">
							(<span class="ore_count"><%= map.ore_nodes.where(server_id: @server.id).count %></span>)</small>
					</h4>
					<%= image_tag "maps/#{map.image_mini}", class: "minimap" %>
				<% end %>
			</div>

			<script type="text/javascript">
			  	$(function() {
			  		$(".linkmap-<%= map.id %>").colorbox({onClosed: function () { active_map_id = 'none' }});
			  	});
			</script>
		<% end %>
	</div>

</div>